{% extends "base.html" %}

{% block content %}
<h2>Attendance Records</h2>
<br>
<table class="attendance-table">
    <thead>
        <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for row in attendance_data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>
                <span class="status {{ row[3]|lower }}">
                    {{ row[3] }}
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
